﻿@model IEnumerable<Common.Model>

@{
    ViewBag.Title = "Models - ";
}

<br />
@{
    if (User.IsInRole("Admin"))
    {
        <div class="form-group pull-left">
            @Html.ActionLink("+", "Create", null, new { @class = "btn btn-secondary glyphicon pull-right" })
        </div>
    }
}

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What are you looking for?">
</div>
<span class="counter pull-right"></span>

<table class="table table-hover table-bordered table-condensed results">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Model
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Manufacturer.Name)*@
                Manufacturer
            </th>
            @*<th></th>*@
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "GetDetails", "Details", new { id = item.Id }, new { @class = "" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "GetDetails", "Details", new { id = item.Id }, new { @class = "" })
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>