﻿
@{
                /**/

                ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@{ if (ViewData["message"] != null)
    {
        <div class="alert alert-danger">
            <strong>Error: </strong> @ViewData["message"]
        </div>
    }
}
@{ if (ViewData["info"] != null)
    {
        <div class="alert alert-info">
            <strong>Notice: </strong> @ViewData["info"]
        </div>



        <form action="/Accounts/SubmitNewPassword" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="userHelp" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    }
}