﻿@*@using reCAPTCHA.MVC*@

@model Common.User
@{
    ViewBag.Title = "Login";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<!--https://bootsnipp.com/snippets/featured/loginregister-in-tabbed-interface-->
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="" id="loginModal">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <div class="alert alert-danger">
                                    <strong>Access Denied: </strong>You are currently logged in as a Admin
                                </div>
                            }
                        }
                        else
                        {
                            <h3>Have an Account?</h3>
                        }
                    }
                    
                </div>
                <div class="modal-body">
                    @{ if (ViewData["message"] != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error: </strong> @ViewData["message"]
                            </div>
                        }
                    }
                    @{ if (ViewData["info"] != null)
                        {
                            <div class="alert alert-info">
                                <strong>Notice: </strong> @ViewData["info"]
                            </div>
                        }
                    }
                    @{ if (ViewData["success"] != null)
                        {
                            <div class="alert alert-success">
                                <strong>Success: </strong> @ViewData["success"]
                            </div>
                        }
                    }
                    <div class="well">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                            <li><a href="#create" data-toggle="tab">Create Account</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="login">
                                <form class="form-horizontal" action='/Accounts/Login' method="POST">
                                    <!--<fieldset>-->
                                        <!--<div id="legend">-->
                                            <!--<legend class="">Login</legend>-->
                                        <!--</div>-->
                                        <!--<div class="control-group">-->
                                    <br/>
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="username">Username</label>
                                                <div class="col-md-10">
                                                    <input type="text" id="username" class="form-control" name="username" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="password">Password</label>
                                                <div class="col-md-10">
                                                    <input type="password" id="password" class="form-control" name="password" placeholder="">
                                                    <a href="#" data-toggle="modal" data-target="#forgotPassword">Forgot Password ?</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-10">
                                                    @*@Html.Recaptcha()*@
                                                    @{  /*Html.ValidationMessage("ReCaptcha")*/}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Login" class="btn btn-primary" />
                                                </div>
                                            </div>
                                    <!--</fieldset>-->
                                </form>
                            </div>
                            <div class="tab-pane fade" id="create">
                                @using (Html.BeginForm("Register", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="DateOfBirth">Date of Birth</label>
                                            <div class="col-md-10">
                                                <!--<input type="date" name="DateOfBirth" class="form-control" />-->
                                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "test-danger" })
                                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="DateOfBirth">Choose a Profile Picute</label>
                                            <div class="col-md-10">
                                                <input type="file" name="profilepicture" class="form-control" />
                                                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "test-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                                <br />
                                                @if (ViewData["message"] != null)
                                                {
                                                    @ViewData["message"]; //using (at) to display message
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("RecoverPassword", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Forgot Password</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="username">Username</label>
                        <div class="col-md-10">
                            <input type="text" id="username" class="form-control" name="username" placeholder="">
                        </div>
                    </div>
                    <br/>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2" for="email">Email</label>
                        <div class="col-md-10">
                            <input type="text" id="email" class="form-control" name="email" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <input type="submit" id="forgot" class="btn btn-default" value="send"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}