﻿@model IEnumerable<Common.Manufacturer>

@{
    ViewBag.Title = "Manufacturers - ";
}
<br />
@{
    if (User.IsInRole("Admin"))
    {
        <div class="form-group pull-left">
            @Html.ActionLink("+", "Create", null, new { @class = "btn btn-secondary glyphicon pull-right" })
        </div>
    }
}
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What are you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-bordered table-responsive results">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Manufacturer
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                <td>
                    @Html.ActionLink("Models", "Model", "Models", new { id = item.Id }, new { @class = "pull-left" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "pull-right" }) 
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "pull-right" })
                </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Models", "Model", "Models", new { id = item.Id }, new { @class = "" })
                        </td>
                    }
                }

            </tr>
        }
    </tbody>
</table>
