﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Auto Imports is your ultimate destination for purchasing second-hand cars. At Auto Imports, we have a business philosophy that is straightforward – deliver the highest quality vehicles at the most competitive prices in an honest environment. We have a courteous and friendly team of sales professionals dedicated to making your experience at Auto Imports a worthwhile and memorable one. At Auto Imports we offer more than 400 cars in stock, making it the largest car dealership in Malta with the best prices. Our showrooms offer a wide range of good quality used and second-hand cars together with new vehicles in all sizes. We also import cars from Japan, US and the UK and offer all brands in our showrooms such as BMW, Audi, Citroen, Daewoo, Daihatsu, Ford, Honda, Hyundai, Isuzu, Kia, Lada, Land Rover, Mazda, Mercedes, Mitsubishi, Nissan, Opel, Peugeot, Porsche, Renault, Suzuki, Toyota, Volvo and Volkswagen.</p>
