﻿</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    @*<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>*@

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/banner.jpg" alt="Banner">
        </div>

        <div class="item">
            <img src="~/Images/5.jpg" alt="Mazda">
        </div>

        <div class="item">
            <img src="~/Images/6.jpg" alt="Seat">
        </div>

        <div class="item">
            <img src="~/Images/7.jpg" alt="Suzuki">
        </div>

        <div class="item">
            <img src="~/Images/8.jpg" alt="Volkswagen">
        </div>

        <div class="item">
            <img src="~/Images/1.jpg" alt="Honda">
        </div>

        <div class="item">
            <img src="~/Images/3.jpg" alt="Toyota">
        </div>

        <div class="item">
            <img src="~/Images/4.jpg" alt="Mercedes">
        </div>

        <!-- indicators dot nov -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <br />
</div>
<script>
    $('.carousel').carousel()
</script>
<div class="container body-content">
    <iframe width="1140" height="680" src="https://www.youtube.com/embed/kZdybFvg7wA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />
    <iframe width="1140" height="800" src="https://www.youtube.com/embed/v90tTV74QZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
