﻿@model Common.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.ImagePath)*@
            <img src=" @Html.DisplayFor(model => model.ImagePath) " />
        </dd>

    </dl>

    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
            @if (Model != null)
            {
                foreach (var role in Model.Roles)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Title</td><!--at symbol is c# code-->
                    </tr>
                }
            }
        </table>
    </div>

</div>

@{
    if (User.IsInRole("Admin"))
    {
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else {
        <p>@Html.ActionLink("Back to List", "Index")</p>
    }
}