﻿@model IEnumerable<Common.User>

@{
    ViewBag.Title = "Users - ";
}
<br />
@{
    if (Context.User.Identity.IsAuthenticated)
    {
        <div class="form-group pull-left">
            @Html.ActionLink("+", "Create", null, new { @class = "btn btn-secondary glyphicon pull-right" })
        </div>
    }
}

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Who are you looking for?">
    @Html.ActionLink("Set permission", "RolesAllocation", null, new { @class = "pull-right" })
</div>
<span class="counter pull-right"></span>


@if (TempData["message"] != null)
{
    <br/><br /><br />
    <div class="alert alert-warning" role="alert">
        @TempData["message"]
    </div>
}

<table class="table table-bordered table-hover table-condensed results">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImagePath != null && System.IO.File.Exists(Server.MapPath(item.ImagePath)))
                    {
                        @*Html.DisplayFor(modelItem => item.ImagePath)*@
                        <img src="@item.ImagePath" style="width:50px; height:50px;" />
                    }
                    else
                    {
                        <img src="https://pngimage.net/wp-content/uploads/2018/05/default-profile-pic-png-8.png" alt="no image" style="width:50px; height:50px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { item.Username }) |
                    @Html.ActionLink("Delete", "Delete", new { username = item.Username }, new { onclick = "return confirm('are you sure!')" }) | <!--First "Delete" is what is shown, the second "Delete" is the name of the of the method-->
                    @Html.ActionLink("Send Password Recovery", "RecoverPassword", "Accounts", new { item.Username, item.Email }, new { @class = "" })
                </td>
            </tr>
        }
    </tbody>
</table>
