﻿
@{
    ViewBag.Title = "RolesAllocation";
}

<h2>RolesAllocation</h2>

<form method="post" action="/Users/RolesAllocation">
    <!--UsersController -> method RolesAllocation()-->
    <div class="form-group col-md-4">
        <label for="username">Username: </label>
        <select id="username" name="username" class="form-control">
            <option value="-1">Select Username</option>
            @foreach (var user in new BusinessLogic.UsersOperations().GetAllUsers())
            {
                <option value="@user.Username">@user.Username</option>
            }
        </select>
        <small id="passwordHelpBlock" class="form-text text-muted">
            You must select a user to allocate or deallocate role.
        </small>
    </div>
        
    <div class="form-group col-md-4">
        <label for="roleid">Role: </label>
        <select id="roleid" name="roleId" class="form-control">
            <option value="-1">Select Role</option>
            @foreach (var role in new BusinessLogic.RolesOperations().GetAllRoles())
        {
                <option value="@role.Id">@role.Title </option>
            }
        </select>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Please select a role.
        </small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="submit" value="Allocate" name="choice" class="btn btn-primary" />
        </div>
        <div class="form-group col-md-4">
            <input type="submit" value="Deallocate" name="choice" class="btn btn-primary" />
        </div>
    </div>
</form>


@if (ViewData["message"] != null)
{
    @ViewData["message"];
}