﻿@model Common.Detail

@{
    ViewBag.Title = "Details";
}

<h2>Vehicle Details</h2>


<div class="col-md-4">
    <dd>
        <img src=" @Html.DisplayFor(model => model.ImagePath)" style="max-width:325px;"/>
    </dd>
</div>
<div class="col-md-8 carinfo">
    <dl class="dl-horizontal">

        <dt>
            Id :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Model:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chassis):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chassis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine_Size):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year_Manufactured):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year_Manufactured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_Of_Vehicle):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Of_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometers):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometers)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Asking_Price):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asking_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deposit):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Cost):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Min_Price):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Min_Price)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Reserved):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved)
        </dd>
    </dl>
</div>
@{
    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}