﻿@model IEnumerable<Common.Detail>

@{
    ViewBag.Title = "Details - ";
}
<br />
@{
    if (User.IsInRole("Admin"))
    {
        <div class="form-group pull-left">
            @Html.ActionLink("+", "Create", null, new { @class = "btn btn-secondary glyphicon pull-right" })
        </div>
    }
}

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Who are you looking for?">
</div>
<span class="counter pull-right"></span>

<table class="table table-bordered table-hover table-condensed results">
    <thead>
        <tr>
            <th>#</th>
            <th>
                Model
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine_Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asking_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine_Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asking_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserved)
            </td>
            @{ 
                if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("View details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                else {
                        <td>@Html.ActionLink("View details", "Details", new { id = item.Id })</td>
                }
             }
        </tr>
        }
    </tbody>
</table>
