﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title AutoImports</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{
                    if (Context.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Hello, " + Context.User.Identity.Name + " :)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbarfont" })
                    }
                    else
                    {
                        @Html.ActionLink("Hello, Guest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbarfont" })
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Users/">Users</a></li>
                            <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturers")</li>
                            <li><a href="~/Models/index">Models</a></li>
                            <li>@Html.ActionLink("Car Details", "Index", "Details")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturers")</li>
                            <li><a href="~/Models/index">Models</a></li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
                        <li>@Html.ActionLink("Sign out", "SignOut", "Accounts")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
                        <li>@Html.ActionLink("Login/Register", "Login", "Accounts")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Are you sure ?</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <div class="alert alert-info" style="margin-bottom:0;">
                        <strong>Info!</strong> You are currently logged in as @{ @User.Identity.Name}. Click Logout to register a new user.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" id="logout" class="btn btn-danger" role="button">@Html.ActionLink("Log Out", "SignOut", "Accounts")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AutoImports</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>